* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	margin: 0 0;
}

@media (min-width: 1440px) and (orientation: landscape) {
	body {
		width: 1440px;
		height: 346px;
	}
}

.cero {
	width: 375px;
	height: 594px;
	color: #000000;
	text-align: left;
}

menu {
	display: none;
}

@media (min-width: 800px) and (orientation: landscape) {
	.cero {
		width: 1440px;
		height: 616px;
		color: #000000;
		text-align: left;
	}
	menu {
		display: block;
		width: 428px;
		height: 48px;
		justify-content: right;
		margin-right: 50px;
	}

	a {
		padding: 5px;
		color: #000000;
		text-align: center;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		font-style: normal;
		text-decoration: none;
	}
}

.primera {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.burguer {
	margin-top: 20px;
	width: 30px;
	height: 30px;
	margin-right: 40px;
}

h1 {
	text-align: center;
	margin-right: 40px;
	padding: 102px 17px 60px 17px;
	font-family: Open Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -1px;
	text-align: center;
}

.foto {
	width: 250px;
	height: 250px;
	image-rendering: pixelated;
	border-radius: 100%;
	margin-left: 50px;
}

@media (min-width: 800px) and (orientation: landscape) {
	.logo {
		margin-top: 16px;
		width: 100px;
		height: 100px;
	}

	h1 {
		text-align: left;
		margin-right: 40px;
		padding: 102px 17px 60px 17px;
		font-family: Open Sans;
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
		letter-spacing: -1px;
	}

	.foto {
		width: 250px;
		height: 250px;
		image-rendering: pixelated;
		border-radius: 100%;
		margin-left: 1000px;
	}

	.burguer {
		display: none;
	}
}

.one {
	display: flex;
	padding: 55px;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	color: #fafafa;
	background-color: #141414;
	width: 375px;
	height: 538px;
}

.nombre {
	margin-left: -20px;
}

.presentacion {
	margin-top: 10px;
	width: 200px;
	height: 193px;
	font-size: 16px;
	margin-left: -20px;
}

.ok {
	width: 200px;
	height: 200px;
	margin-left: 20px;
	margin-bottom: 50px;
}

@media (min-width: 800px) and (orientation: landscape) {
	.one {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		color: #fafafa;
		background-color: #141414;
		width: 1440px;
		height: 538px;
		margin-top: 50px;
	}

	.ok {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		width: 250px;
		height: 250px;
		margin-top: 100px;
		margin-left: 300px;
	}

	.presentacion {
		width: 332px;
		height: 165px;
		text-align: left;
		margin-bottom: 950px;
		margin-top: 0;
		padding-top: 0;
		margin-right: 600px;
		margin-left: 90px;
	}

	.nombre {
		margin-top: 150px;
		margin-bottom: -50px;
		margin-left: 90px;
	}
}

.two {
	width: 375px;
	height: 1375px;
	padding: 70px 20px 70px 20px;
	text-align: center;
}

h2 {
	width: 271px;
	height: 60px;
	margin-left: 20px;
	font-family: Open Sans;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: -2px;
	text-align: center;
}
.monitor {
	width: 80px;
	height: 80px;
	padding: 40px;
	margin-top: 50px;
	margin-right: 55px;
}

h3 {
	margin-right: 50px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
}

p {
	width: 262px;
	height: 117px;
	padding: 40px;
	text-align: center;
	margin-right: 70px;
	align-items: center;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
}

@media (min-width: 800px) and (orientation: landscape) {
	.svs {
		width: 403px;
		height: 56px;
		grid-area: header;
		margin-left: 480px;
		margin-top: 30px;
	}

	.two {
		width: 1440px;
		height: 604px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"header header header"
			"main main main";
		gap: 100px;
	}
}

.three {
	background-color: #141414;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	width: 375px;
	height: 660px;
	align-items: left;
	padding: 70px 20px 50px 20px;
}

input {
	width: 305px;
}

button {
	background-color: #ffd953;
	width: 305px;
	height: 45px;
	margin-top: 50px;
}

.escribime {
	text-align: center;
	margin-bottom: 50px;
	margin-right: 50px;
}

.mensaje {
	width: 305px;
	height: 100px;
}

@media (min-width: 800px) and (orientation: landscape) {
	.three {
		width: 1440px;
		height: 360px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.escribime {
		margin-left: 350px;
		width: 120px;
		height: 22px;
		margin-top: 20px;
	}

	.formnombre {
		margin-top: 70px;
	}
}

.footer {
	width: 375px;
	height: 495px;
}

footer {
	margin-top: 50px;
	padding: 20px;
}

.logo2 {
	width: 100px;
	height: 100px;
}

.red {
	width: 50px;
	height: 50px;
	margin: 20px 0 20px 0;
}

h4 {
	margin-right: 200px;
	margin-top: 35px;
	float: right;
	width: 73px;
	padding: 5px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

.copy {
	width: 115px;
	height: 15px;
	text-align: left;
	margin-left: -30px;
	margin-top: -40px;
}

@media (min-width: 800px) and (orientation: landscape) {
	footer {
		width: 1440px;
		height: 346px;
		display: flex;
		flex-direction: row;
	}

	.copy {
		margin-top: 130px;
		margin-left: -150px;
	}

	.logo2 {
		margin-top: 70px;
		margin-left: 50px;
	}

	.final {
		margin-left: 800px;
	}
}
